<p>{{book.BookName}} (chỉnh sửa thông tin)</p>
<p>{{errMessage}}</p>
<table>
  <tr>
    <td>Mã sách:</td>
    <td>
      <input disabled="" type="text" class="form-control"  name="BookId" id="BookId" placeholder="Nhập Book Id" [ngModel]="book.BookId" [(ngModel)]="book.BookId"/>
    </td>
  <tr>
    <td>Tên sách:</td>
    <td>
      <input type="text" class="form-control"  name="BookName" id="BookName" placeholder="Nhập Book Name" [ngModel]="book.BookName" [(ngModel)]="book.BookName"/>
    </td>
  </tr>
  <tr>
    <td>Giá bán:</td>
    <td> <input type="text" class="form-control"  name="Price" [ngModel]="book.Price" id="Price"[(ngModel)]="book.Price"/>
    </td>
  </tr>
  <tr>
    <td>Mô tả:</td>
    <td>
      <input type="text" class="form-control"  name="Describe" id="Describe" placeholder="Nhập Mô tả" [ngModel]="book.Describe" [(ngModel)]="book.Describe"/>
    </td>
  </tr>
  <tr>
    <td>Ảnh bìa</td>
    <td>
      <input type="file" (change)="onFileSelected($event)" [(ngModel)]="book.Image" #file>
      <img src="http://localhost:3000/image/{{book.Image}}" width="50px" height="50px">
    </td>
  </tr>
  <tr>
    <td>Số lượng tồn:</td>
    <td>
      <input type="text" class="form-control"  name="Amount" id="Amount" placeholder="Nhập số lượng tồn kho" [ngModel]="book.Amount" [(ngModel)]="book.Amount"/>
    </td>
  </tr>
  <tr>
    <td>Mã CD:</td>
    <td>
      <input type="text" class="form-control"  name="MaCD" id="BookMaCDPrice" placeholder="Nhập mã CD" [ngModel]="book.MaCD" [(ngModel)]="book.MaCD"/>
    </td>
  </tr>
  <tr>
    <td>Mã NXB:</td>
    <td>
      <input type="text" class="form-control"  name="MaNXB" id="MaNXB" placeholder="Nhập Mã NXB" [ngModel]="book.MaNXB" [(ngModel)]="book.MaNXB"/>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button (click)="putBook()">Update</button>
    </td>
  </tr>
</table>
<!-- <table border="1">
  <tr>
  <td>BookId</td>
  <td>BookName</td>
  <td>Price</td>
  <td>Image</td>
</tr> <tbody>
  <tr *ngFor="let book of books">
    <td>{{book.BookId}}</td>
    <td>{{book.BookName}}</td>
    <td>{{book.Price}} </td>
    <td>
      <img src="assets/book_images/{{book.Image}}" width="50px" height="50px">
    </td>
  </tr>
</tbody>
</table> -->
